<div class="top-bar-container contain-to-grid show-for-medium-up">
    <nav class="top-bar visibility-stroke" data-topbar="">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{{ site.url }}"> <img src="{{ site.theme.link }}/assets/img/icons/apple-touch-icon-precomposed.png"></img>{{ site.name }}</a></h1>
            </li>
        </ul>
        <section class="top-bar-section">
            {{ function('foundationPress_top_bar_l') }}
            {{ function('foundationPress_top_bar_r') }}
        </section>
    </nav>
</div>
